/* HEADER */
.navbar {
    background-color: #12172b;
    height: 120px;
    color: var(--white-color);
    border-bottom: 1.5px outset rgb(44, 42, 42) ;
}

/* Logo nhóm bằng Text Neon */
#logocover {
    display: inline-block;
    padding-top: 1.5rem;
}

.navbar__logo {
    font-family: 'Rubik Maze' !important;
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    animation: pulsate 1.5s infinite alternate;
    border: 0.2rem solid var(--white-color);
    border-radius: 2rem;
    padding: 0.4em;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 19.5rem;
    max-height: 10rem;
    line-height: 3.5rem;
    box-shadow: 0 0 .2rem var(--white-color),
        0 0 .2rem #fff,
        0 0 2rem #bb3f7d,
        0 0 0.8rem #bb3f7d,
        0 0 2.8rem #ee56a2,
        inset 0 0 1.3rem #bb3f7d;
    margin-left: 3rem;
    cursor: pointer;
}

@keyframes pulsate {
    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #ee56a2,
            0 0 80px #ee56a2,
            0 0 90px #ee56a2,
            0 0 100px #ee56a2,
            0 0 150px #ee56a2;

    }

    0% {

        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #ee56a2,
            0 0 45px #ee56a2,
            0 0 55px #ee56a2,
            0 0 70px #ee56a2,
            0 0 80px #ee56a2;
    }
}

/* Dropmenu-navbar */
.navbar__menu {
    float: right;
    margin-right: 2rem;
    padding-top: 1.5rem;
}

.navbar__menu ul {
    list-style: none;
}

.navbar__menu>ul li {
    display: inline-block;
    list-style: none;
    font-size: 3rem;
    position: relative;
    margin-left: 10px;
}

.navbar__menu>ul li a {
    text-decoration: none;
    display: block;
    padding: 0 15px;
    color: var(--white-color);
    line-height: 6rem;
    font-size: 3rem
}

.navbar__menu>ul li a:hover {
    box-shadow: 0 0 5px #ee56a2,
        0 0 5px #ee56a2;
    border-radius: 5px;
    color: #ee56a2;
}

#iconfb:hover,
#iconinsta:hover {
    box-shadow: none;
}

.navbar__menu ul ul {
    position: absolute;
    top: 80px;
    opacity: 0;
    visibility: hidden;
    color: #12172b;
    background-color: #12172b;
    transition: top .2s;
    padding-left: 0px;
    border-radius: 5px;

}
.navbar__menu ul li:hover>ul {
    display: block;
    opacity: 1;
    visibility: visible;
    top: 63px;
}

.navbar__menu ul ul li {
    width: 190px;
    float: none;
    display: list-item;
    position: relative;
    z-index: 1;
    margin: 0px;
    padding-left: 0px;
    border-bottom: #ee56a2;
}

/* Đổi màu icon thành Neon */
#iconfb,
#iconins {
    animation: changecolor 1.5s infinite alternate;
    color: var(--white-color);
    text-shadow:
        0 0 .5rem #fff,
        0 0 1rem #fff,
        0 0 1.5rem #fff,
        0 0 4rem #ee56a2,
        0 0 5.5rem #ee56a2,
        0 0 6rem #ee56a2,
        inset 0 0 9.5rem #ee56a2,
}

@keyframes changecolor {
    100% {
        text-shadow:
            0 0 2px #fff,
            0 0 3px #fff,
            0 0 6px #fff,
            0 0 10px #ee56a2,
            0 0 40px #ee56a2,
            0 0 40px #ee56a2,
            0 0 50px #ee56a2,
            0 0 60px #ee56a2;

    }

    0% {
        text-shadow:
            0 0 1px #fff,
            0 0 2px #fff,
            0 0 3px #fff,
            0 0 5px #ee56a2,
            0 0 25px #ee56a2,
            0 0 35px #ee56a2,
            0 0 40px #ee56a2,
            0 0 50px #ee56a2;
    }
}

/* BODY */

#background1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.3)),
    url('/assets/img/index/background1.jpg') center/cover 
    no-repeat fixed;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.background1__content h3 {
    color: var(--white-color);
    font-size: 4.5rem;
    margin-left: 3rem;
    line-height: 5rem;
    display: inline-block;
    opacity: 0.7;
    animation: runingtext 1.5s infinite alternate;
}

@keyframes runingtext {
    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #ee56a2,
            0 0 80px #ee56a2,
            0 0 90px #ee56a2,
            0 0 100px #ee56a2,
            0 0 150px #ee56a2;

    }

    0% {

        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #ee56a2,
            0 0 45px #ee56a2,
            0 0 55px #ee56a2,
            0 0 70px #ee56a2,
            0 0 80px #ee56a2;
    }
}